* {
    margin: 0;
    padding: 0;
}
:root{
    --black: #2B2D42;
    --dark-green: #114B5F;
    --green: #1A936F;
    --light-green: #88D498;
    --lighter-green: #C6DABF;
    --cream: #F3E9D2;
}
body{
    background-color: var(--lighter-green);
}
.content{
    margin: 0 auto;
    margin-top: 1rem;
    width: 60vw;
}
#slider{
    width: 100%;
    background-color: var(--cream);
    padding: 2rem;
    border: none;
    border-radius: 4rem;
}
.overflow{
    overflow: hidden;
}
.inner-slider{
    overflow: hidden;
    width: 400%;
    display: flex;
    aspect-ratio: 16/3;
    transition: all 1s;
}
img{
    flex-shrink: 0;
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 2rem;
}
.bottom-container{
    margin-top: 4rem;
    display: flex;
}
.subtitle-wrapper{
    flex: 5;
    overflow: hidden;
}
.subtitle-container{
    width: 400%;
    display: flex;
    flex-direction: row;
    transition: all 1s;
}
.subtitle{
    width: 25%;
    margin-left: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark-green);
}
input{
    display: none;
}
.controller{
    flex: 2;
    height: 10rem;
    width: 100%;
    display: flex;
    gap: 0.1rem;
}
.label-navigator {
    aspect-ratio: 1/1;
    height: 16%;
    background-color: var(--green);
    border-width: 1rem;
    border-color: var(--cream);
    border-style: solid;
    border-radius: 50%;
}
.label-navigator:hover{
    background-color: var(--light-green);
}
#slide1:checked ~ .inner-slider{
    margin-left: 0%;
}
#slide2:checked ~ .inner-slider{
    margin-left: -100%;
} 
#slide3:checked ~ .inner-slider{
    margin-left: -200%;
} 
#slide4:checked ~ .inner-slider{
    margin-left: -300%;
} 
#slide1:checked ~ .bottom-container .subtitle-wrapper .subtitle-container{
    margin-left: 0%;
}
#slide2:checked ~ .bottom-container .subtitle-wrapper .subtitle-container{
    margin-left: -100%;
} 
#slide3:checked ~ .bottom-container .subtitle-wrapper .subtitle-container{
    margin-left: -200%;
} 
#slide4:checked ~ .bottom-container .subtitle-wrapper .subtitle-container{
    margin-left: -300%;
} 
#slide1:checked ~ .bottom-container .controller .label-navigator:nth-of-type(1) {
    background-color: var(--black);
}
#slide2:checked ~ .bottom-container .controller .label-navigator:nth-of-type(2) {
    background-color: var(--black);
}
#slide3:checked ~ .bottom-container .controller .label-navigator:nth-of-type(3) {
    background-color: var(--black);
}
#slide4:checked ~ .bottom-container .controller .label-navigator:nth-of-type(4) {
    background-color: var(--black);
}

#slide1:checked ~ .bottom-container .controller .label-navigator:nth-of-type(1):hover {
    background-color: var(--dark-green);
}
#slide2:checked ~ .bottom-container .controller .label-navigator:nth-of-type(2):hover {
    background-color: var(--dark-green);
}
#slide3:checked ~ .bottom-container .controller .label-navigator:nth-of-type(3):hover {
    background-color: var(--dark-green);
}
#slide4:checked ~ .bottom-container .controller .label-navigator:nth-of-type(4):hover {
    background-color: var(--dark-green);
}
@media (max-width: 1023px) {
    .bottom-container{
        flex-direction: column;
        margin-top: 1rem;
    }
    .subtitle-wrapper{
        order: 2;
    }
    .subtitle-container{
        justify-content: center;
    }
    .subtitle{
        margin-left: 10vw;
    }
    .controller{
        order: 1;
        justify-content: center;
    }
    .label-navigator{
        height: 1rem;
    }
}