* {
    margin: 0;
    padding: 0;
}
body{
    background-color: khaki;
}
.content{
    margin: 0 auto;
    margin-top: 1rem;
    width: 50vw;
}
#slider{
    width: 100%;
    overflow: hidden;
}
.inner-slider{
    overflow: hidden;
    width: 400%;
    display: flex;
    aspect-ratio: 16/3;
    transition: all 1s;
}
img{
    flex-shrink: 0;
    width: 25%;
    height: 100%;
}
.container{
    display: flex;
}
.subtitle-container{
    flex: 5;
}
.subtitle{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: sienna;
}
.controller{
    flex: 2;
}

#slide1:checked ~ .inner-slider{
    margin-left: 0%;
} 
#slide2:checked ~ .inner-slider{
    margin-left: -100%;
} 
#slide3:checked ~ .inner-slider{
    margin-left: -200%;
} 
#slide4:checked ~ .inner-slider{
    margin-left: -300%;
} 
/*
#slide1:checked ~ .content #slider .inner-slider {
    margin-left: -20%;
}
#slide2:checked ~ .content #slider .inner-slider {
    margin-left: -100%;
}
#slide3:checked ~ .content #slider .inner-slider {
    margin-left: -200%;
}
#slide4:checked ~ .content #slider .inner-slider {
    margin-left: -300%;
} */